:root{
    --background:rgb(14, 17, 22);
    --green: rgb(109, 136, 103);
    --dim-green: rgb(75, 193, 49);
    --blue: rgb(103, 110, 136);
    --dim-blue: rgb(36, 62, 170);
    --dark-blue: rgb(19, 49, 81);
    --red: rgb(159, 85, 76);
    --dim-red: rgb(186, 46, 29);
    --yellow: rgb(215, 164, 105);
    --dim-yellow: rgb(213, 129, 32);
    --black: rgb(26, 26, 26);
    --grey: rgb(150, 150, 150);
    --metal: rgb(71, 71, 71);
}

.glass{
    border:1px solid #444;
    box-sizing: border-box;
    color:#fff;
    backdrop-filter: blur(10px) saturate(200%) brightness(0.8);
    background:transparent;
    border-radius:100px;
}
.glass:not(.buttons .btn){
    border:1px solid #444 !important;
    color:#fff !important;
    background:transparent !important;
}

.nav .nav-item{
    height:50px;
    padding:16px !important;
    margin: 0px;

    border:none;
    background:transparent;
    color:#fff;
}

.nav .nav-item.nav-btn{
    aspect-ratio: 1/1;
    transition:background 0.1s, filter 0.1s, transform 0.2s;
    cursor:pointer;
}
.nav .nav-item.nav-btn:hover{
    background:rgba(255,255,255,0.1) !important;
    backdrop-filter: blur(10px) saturate(300%);
    transform: scale(1.1);
}
.nav .nav-item.nav-btn.back-btn img, body.reader .nav .nav-item.nav-btn.left-btn img{
    transform: rotate(-90deg) translate(0px, -1.5px);
}
.nav .nav-item.nav-btn.right-btn img{
    transform: rotate(90deg) translate(0px, -1.5px);
}
.group{
    display:flex;
    gap:16px;
}
.group.glass{
    overflow: hidden;
}
.group.glass .nav-item{
    padding:0 !important;
}





body.dark {
    background: var(--background);
}
body:not(.dark) {
    background: #eee;
}
body{
    margin: 0;
    display:flex;
    flex-direction: column;
    overflow:hidden;
    height:100vh;
}
h1{
    position:relative;
}
.card-c {
    background: rgb(32, 38, 48);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 10px;
    height: max-content;
    box-sizing: border-box;
    color: #ccc;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    padding-bottom: 5px;
    width:calc(100vw - 20px);
    position:relative;
}

body:not(.dark) .card-c {
    background: #ccc;
    border: 1px solid #aaa;
    color: #777
}

.divider {
    width: 100%;
    background: var(--background);
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px
}

body:not(.dark) .card-c .divider {
    background: #aaa
}

.card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 5px;
    gap: 20px
}

.img-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: background 0.1s;
    background: transparent;
    user-select: none;
    cursor: pointer
}

.img-btn:hover {
    background: #333
}

body:not(.dark) .card-c .img-btn:hover {
    background: #aaa
}

.img-btn svg {
    width: 30px;
    height: 30px;
    pointer-events: none;
    user-select: none;
    transition: opacity 0.2s, background 0.2s, fill 0.2s;
    box-sizing: border-box
}

body:not(.dark) .card-c .img-btn svg path {
    fill: #888
}

.img-btn:hover svg {
    opacity: 0.8
}

body:not(.dark) .card-c .img-btn:hover svg path {
    fill: #777
}

body:not(.dark) .card-c .img-btn:hover svg {
    opacity: 1
}

.pitch-accent-low {
    display: flex;
    background-image: linear-gradient(to top, #5e84ff, transparent);
    padding-bottom: 2px;
    margin-top: 2px;
    margin-right: -2px;
    padding-right: 2px
}

a {
    color: #5e84ff
}

.pitch-accent-low div {
    background-color: #181818;
    padding-right: 2px
}

.pitch-accent-high {
    display: flex;
    background-image: linear-gradient(to bottom, #ff5ec7, transparent);
    padding-top: 2px;
    margin-bottom: 2px;
    padding-left: 2px
}

body:not(.dark) .card-c .pitch-accent-high {
    background-image: linear-gradient(to bottom, #e835a8, transparent)
}

body:not(.dark) .card-c .pitch-accent-low {
    background-image: linear-gradient(to top, #356ee8, transparent)
}

.pitch-accent-high.drop {
    padding-top: 2px;
    margin-bottom: 2px;
    margin-right: -2px;
    padding-left: 2px;
    padding-right: 2px
}

.pitch-accent-high div {
    background-color: #181818;
    padding-left: 1px
}

body:not(.dark) .card-c .pitch-accent-high div, body:not(.dark) .card-c .pitch-accent-low div {
    background-color: #ccc
}

.pitch-accent-high.drop div {
    padding-right: 2px
}

.word {
    display: flex
}

.definition {
    margin: 10px;
    border-radius: 10px;
    background: rgb(20, 25, 32);
    padding: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(14, 19, 23);
    box-sizing: border-box;
    transition: border 0.2s;
    width:100%;
    max-height:30vh;
    overflow-y: auto;
}

body:not(.dark) .card-c .definition {
    background: #bbb;
    border: 1px solid #aaa;
    color: #5a5a5a
}

.definition:focus {
    outline: none;
    border: 3px solid #444
}

body:not(.dark) .card-c .definition:focus {
    border: 3px solid #aaa
}

.definition p {
    margin: 0
}

.example .sentence {
    font-size: 30px;
    text-align: center
}

.example {
    display: flex;
    flex-direction: column
}

.example .translation {
    font-size: 16px;
    color: #aaa;
    text-align: center
}

body:not(.dark) .card-c .example .translation {
    color: #888
}

.example .translation:hover {
}

.example .translation p {
    margin: 5px
}

.defined {
    color: #ff5ec7;
    font-weight: bold
}

body:not(.dark) .card-c .defined {
    color: #356ee8
}

.card-item > img {
    border-radius: 10px;
    min-width: 100%;
}


.mLearn-pitch-accent{
    position:absolute;
    /*bottom: 0; safari bug */
    left: 0;
    right: 0;
    top: 0;
    font-size: 0.8em;
    display:flex;
}
.mLearn-pitch-accent .box{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}
.mLearn-pitch-accent .box.bottom::before {
    content: "";
    position: absolute;
    left: calc(var(--pitch-accent-height) / -2);
    right: calc(var(--pitch-accent-height) / -2);
    bottom: calc(var(--pitch-accent-height) / -2);
    height: var(--pitch-accent-height);
    background: #4e86ca;
    border-radius: 50px;
    pointer-events: none;
}
.mLearn-pitch-accent .box.top::before {
    content: "";
    position: absolute;
    left: calc(var(--pitch-accent-height) / -2);
    right: calc(var(--pitch-accent-height) / -2);
    top: calc(var(--pitch-accent-height) / -2);
    height: var(--pitch-accent-height);
    background: #e8687b;
    border-radius: 50px;
    pointer-events: none;
}
.mLearn-pitch-accent .box.left::after {
    content: "";
    position: absolute;
    top: calc(var(--pitch-accent-height) / -2);
    bottom: calc(var(--pitch-accent-height) / -2);
    left: calc(var(--pitch-accent-height) / -2);
    width: var(--pitch-accent-height);
    background: linear-gradient(to bottom, #e8687b, #4e86ca);
    border-radius: 50px;
    pointer-events: none;
}
.mLearn-pitch-accent .particle-box.box.top::before{
    background: linear-gradient(to right, #e8687b, #e8687b00);
}
.mLearn-pitch-accent .particle-box.box.bottom::before{
    background: linear-gradient(to right, #4e86ca, #4e86ca00);
}



/* Remove left border radius for the right .box when a .top/.bottom follows a .top/.bottom */
.mLearn-pitch-accent .box.top + .box.top::before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.mLearn-pitch-accent .box.bottom + .box.bottom::before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* Remove right border radius for the left .box when a .top/.bottom is followed by a .top/.bottom */
.mLearn-pitch-accent .box.top::before {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.mLearn-pitch-accent .box.bottom::before {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.mLearn-pitch-accent .box.top + .box.top::before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.mLearn-pitch-accent .box.top::before {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.mLearn-pitch-accent .box.top:has(+ .box.top)::before {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.mLearn-pitch-accent .box.bottom + .box.bottom::before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.mLearn-pitch-accent .box.bottom::before {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.mLearn-pitch-accent .box.bottom:has(+ .box.bottom)::before {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.content{
    display:flex;
    width:100%;
    flex-direction: column;
    gap:10px;
    align-items: center;
    overflow:auto;
    padding-bottom:120px;
    padding-top:95px;
}
.nav{
    display:flex;
    gap:10px;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    position:absolute;
    top:0;
    width:100%;
    box-sizing: border-box;
    z-index:100;
}
.nav .btn{
    width:50px;
    height:50px;
    cursor:pointer;
    padding:10px;
    border-radius:10px;
    transition: background 0.1s;
    display:flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    box-sizing: border-box;
    background: rgb(20, 25, 32);
}
.nav h1{
    display:flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.nav .btn img, .nav .btn svg{
    height:35px !important;
    width:35px !important;
    transform:scale(2);
}
.nav .btn:hover{
    background:#333;
}
body:not(.dark) .nav .btn:hover{
    background:#ccc;
}
.nav .btn:active{
    background:#444;
}
body:not(.dark) .nav .btn:active{
    background:#bbb;
}
.nav .btn svg{
    width:100%;
    height:100%;
    color:#ccc;
    transition: width 0.05s, height 0.05s;
}
body:not(.dark) .nav .btn svg{
    color:#777;
}
.nav .btn.back svg{
    width:100%;
}
.nav .btn:hover svg{
    width:90%;
    height:90%;
}
.nav .btn:active svg{
    width:80%;
    height:80%;
}
.buttons{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap:10px;
    position:absolute;
    bottom:0;
    width:100%;
    box-sizing: border-box;
    padding: 30px 10px 35px;
}
.again { grid-area: 1 / 1 / 2 / 2; }
.hard { grid-area: 1 / 2 / 2 / 3; }
.ok { grid-area: 1 / 3 / 2 / 4; }
.easy { grid-area: 1 / 4 / 2 / 5; }
.show-answer { grid-area: 1 / 1 / 2 / 5; }

.buttons .btn{
    padding:10px;
    border-radius:10px;
    font-size:2em;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    color:var(--background);
    user-select: none;
    cursor:pointer;
    opacity:1;
    transition: background 0.05s, opacity 0.05s;
    position:relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    text-align: center;
}
.buttons .btn::after{
    content:attr(data-content);
    position:absolute;
    top:-1.5em;
    left:50%;
    transform:translateX(-50%);
    color:#ccc;
    font-size:0.5em;
    white-space: nowrap;
    text-shadow: 0 0 25px #000;
}
body:not(.dark) .buttons .btn::after{
    color:#111;
}
body:not(.dark) .buttons .btn{
    color:#eee;
}
.buttons .btn{
    border:1px solid #481d1d !important;
    background: rgba(255, 0, 0, 0.1) !important;
    backdrop-filter: grayscale(1) brightness(0.5) blur(10px) !important;
    color:#ffc8c8 !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.hard,.again{
    filter:hue-rotate(0deg);
}
body:not(.dark) .hard, body:not(.dark) .again{
    background: var(--dim-red);
}
.medium{
    background: var(--yellow);
    filter:hue-rotate(74deg);
}
body:not(.dark) .medium{
    background: var(--dim-yellow);
}
.easy{
    background: var(--green);
    filter:hue-rotate(122deg);
}
body:not(.dark) .easy{
    background: var(--dim-green);
}
.buttons .btn.show-answer{
    background: var(--blue);
    filter:hue-rotate(230deg);
}
body:not(.dark) .buttons .btn.show-answer{
    background: var(--dim-blue);
}
.buttons .btn:hover{
    opacity:0.8;
}
.buttons .btn:active{
    opacity:0.7;
}
.progress-c{
    width:100%;
    height:20px;
    border-radius:100px;
    overflow:hidden;
    background:rgb(20,25,32);
}
.progress-c .progress-bar{
    width:100%;
    height:100%;
    display:flex;
}
.progress-c .progress-bar > div{
    height:100%;
}
.p{
    color:#ccc;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size:1.5em;
    font-weight: bold;
    padding:10px;
    display:flex;
    gap:10px;
    white-space: nowrap;
}
.actual-words{
    display:flex;
    flex-direction: column;
    gap:10px;
    padding:10px;
}
.actual-words h1{
    margin: 0;
}

rt{
    position:relative;
}


.pill {
    position:absolute;
    left:10px;
    top:10px;
    font-size: 1.2em;
    font-weight:bold;
    padding: 5px;
    text-align: center;
    padding-inline:10px;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 60, 170);
    background-color: rgb(255, 223, 239);
    box-shadow: rgba(50, 50, 93, 0.05) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.15) 0px 18px 36px -18px inset;
    z-index:1;
}
.pill .icon{
    width:max-content;
    height:max-content;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right:5px;
}
.pill .icon img{
    width: 20px;
    height: 20px;
}
.pill-btn{
    cursor: pointer;
    user-select: none;
}
body.dark .pill{
    box-shadow: rgba(50, 50, 93, 0.10) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.pill[level="5"] {
    color: rgb(255, 60, 252);
    background-color: rgb(254, 223, 255);
}
.subtitle_word .frequency[level="5"] .star, .pill[level="5"] img{
    filter: hue-rotate(273deg) saturate(200%) brightness(170%);
    opacity:0.9;
}

.pill[level="4"], .pill.orange {
    color: rgb(255, 141, 60);
    background-color: rgb(255, 236, 223);
}
.subtitle_word .frequency[level="4"] .star, .pill[level="4"] img, .pill.orange img{
    filter: hue-rotate(60deg) saturate(200%) brightness(170%);
    opacity:0.9;
}

.pill[level="3"], .pill.green{
    color: rgb(66, 214, 49);
    background-color: rgb(219, 243, 213);
}
.subtitle_word .frequency[level="3"] .star, .pill[level="3"] img, .pill.green img{
    filter: hue-rotate(113.82deg) saturate(200%) brightness(150%);
    opacity:0.9;
}

.pill[level="2"], .pill.blue {
    color: rgb(60, 145, 255);
    background-color: rgb(223, 244, 255);
}
.subtitle_word .frequency[level="2"] .star, .pill[level="2"] img, .pill.blue img{
    filter: hue-rotate(214deg) saturate(200%) brightness(170%);
    opacity:0.9;
}

.pill[level="1"], .pill.red {
    color: rgb(255, 60, 89);
    background-color: rgb(255, 223, 228);
}
.subtitle_word .frequency[level="1"] .star, .pill[level="1"] img, .pill.red img{
    filter: hue-rotate(350deg) saturate(200%) brightness(170%);
    opacity:0.9;
}
body.dark .pill{
    filter: invert(1) hue-rotate(180deg) saturate(100%) saturate(200%);
}


.loading, .content > div:not(.card-c), .text{
    color: #ccc;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size:0.75em;
    padding:10px;
    display:flex;
    gap:10px;
    white-space: nowrap;
    user-select: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

*[contenteditable="true"]{
    outline: none;
}

*[contenteditable="true"]:focus{
    border: 3px solid #444;
    box-sizing: border-box;
}
.screen{
    height:100%;
    justify-content: start;
    align-items: center;
}

.status h1{

}

.camera video, #qrcode{
    border-radius: 10px;
    margin:10px;
    width:100%;
    max-width:calc(100vw - 20px) !important;
    box-sizing: border-box;
}
#qrcode{
    border:10px solid #fff;
}
#qrcode canvas, #qrcode img{
    width:100%;
    height:100%;
}

.loading{
    z-index:999;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: var(--background);
    display:flex;
    justify-content: center;
    align-items: center;
}


button{
    padding:10px;
    border-radius:10px;
    background: rgb(27, 33, 44);
    color:#fff;
    border:2px solid rgb(29, 42, 57);
    font-size:20px;
    cursor:pointer;
}

#qr-box{
    position:absolute;
    opacity:0.5;
    z-index:99;
}



.mLearn-pitch-accent{
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 0.8em;
    display:flex;
}
.example .mLearn-pitch-accent{
    height: unset !important;
}
.mLearn-pitch-accent .box{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}
.mLearn-pitch-accent .box.bottom::before {
    content: "";
    position: absolute;
    left: calc(var(--pitch-accent-height) / -2);
    right: calc(var(--pitch-accent-height) / -2);
    bottom: calc(var(--pitch-accent-height) / -2);
    height: var(--pitch-accent-height);
    background: #4e86ca;
    border-radius: 50px;
    pointer-events: none;
}
.mLearn-pitch-accent .box.top::before {
    content: "";
    position: absolute;
    left: calc(var(--pitch-accent-height) / -2);
    right: calc(var(--pitch-accent-height) / -2);
    top: calc(var(--pitch-accent-height) / -2);
    height: var(--pitch-accent-height);
    background: #e8687b;
    border-radius: 50px;
    pointer-events: none;
}
.mLearn-pitch-accent .box.left::after {
    content: "";
    position: absolute;
    top: calc(var(--pitch-accent-height) / -2);
    bottom: calc(var(--pitch-accent-height) / -2);
    left: calc(var(--pitch-accent-height) / -2);
    width: var(--pitch-accent-height);
    background: linear-gradient(to bottom, #e8687b, #4e86ca);
    border-radius: 50px;
    pointer-events: none;
}
.mLearn-pitch-accent .particle-box.box.top::before{
    background: linear-gradient(to right, #e8687b, #e8687b00);
}
.mLearn-pitch-accent .particle-box.box.bottom::before{
    background: linear-gradient(to right, #4e86ca, #4e86ca00);
}



/* Remove left border radius for the right .box when a .top/.bottom follows a .top/.bottom */
.mLearn-pitch-accent .box.top + .box.top::before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.mLearn-pitch-accent .box.bottom + .box.bottom::before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* Remove right border radius for the left .box when a .top/.bottom is followed by a .top/.bottom */
.mLearn-pitch-accent .box.top::before {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.mLearn-pitch-accent .box.bottom::before {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.mLearn-pitch-accent .box.top + .box.top::before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.mLearn-pitch-accent .box.top::before {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.mLearn-pitch-accent .box.top:has(+ .box.top)::before {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.mLearn-pitch-accent .box.bottom + .box.bottom::before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.mLearn-pitch-accent .box.bottom::before {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.mLearn-pitch-accent .box.bottom:has(+ .box.bottom)::before {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.subtitle_word{
    position:relative;
}